@page "/employeelist"

<h3>Select Employee Count @SelectEmployeeCount</h3>

@if (Employees == null)
{
    <div class="spinner" />
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" OnEmployeeSelection="EmployeeSelectionChanged"
                            OnEmployeeDeleted="EmployeeDeleted" />
        }
    </div>
}
