@page "/todo"
@inherits TodoBase

<h3>Todo yang belum dilakukan (@todos.Count(todo=>!todo.IsDone)) item</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            @todo.Title
        </li>
    }
</ul>

<input placeholder="Apa yang mau anda lakukan?" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

